<form [formGroup]="recipeForm">
  <div class="col-md-8 mb-3 form-group">
    <label>Recipe name</label>
    <input type="text" placeholder="Enter name" class="form-control" maxlength="100" 
      name="name" required />
  </div>
  <div class="col-md-8 mb-3 form-group">
    <div class="row align-items-end" *ngFor="let ingredientAdded of ingredientsAdded; last as isLast; index as i">
      <app-recipe-ingredient></app-recipe-ingredient>
      <div *ngIf="isLast" class="col-md-2 align-text-bottom">
        <button class="btn btn-primary" (click)="addIngredient()">Add more</button>
      </div>
    </div>
  </div>
  <div class="col-md-8 mb-3 form-group">
    <label>Steps</label>
    <textarea class="form-control" placeholder="Steps to reproduce recipe" rows=4 maxlength="100" name="steps" required>
        </textarea>
  </div>
  <button type="button" class="btn btn-primary mr-2" (click)="save()">
    Save
  </button>
  <a href="/recipe" class="btn btn-secondary mr-2">
    Cancel
  </a>
</form>