<form novalidate>
  <div class="row">
    <div class="col-md-6">
      <label>Recipes available</label>
      <select class="form-control" name="selectedRecipeId" [(ngModel)]="selectedRecipeId"(change)="changeRecipe($event)" required>
        <option *ngFor="let item of availableRecipes" [value]="item.id">{{ item.name }}</option>
      </select>
    </div>
    <button type="button" (click)='addRecipe()' class="btn btn-default">Add recipe</button>
  </div>
  <div class="row" *ngIf="selectedRecipes.length > 0">
    <ul *ngFor="let item of selectedRecipes">
      <li>{{ item.name }}</li>
    </ul>
  </div>
  <button (click)="saveShoplist()" class="btn btn-primary">Save</button>
</form>