<form novalidate>
  <div>
    <div class="col-md-8 mb-3">
      <label>Recipe name</label>
      <input type="text" class="form-control" maxlength="100" [(ngModel)]="model.name" name="name" required />
    </div>
    <div class="col-md-8 mb-3">
      <div class="row" *ngFor="let ingredientAdded of ingredientsAdded; last as isLast; index as i">
        <div class="col-md-4">
          <label>Ingredients</label>
          <select class="form-control" required>
            <option value="">Select one ingredient</option>
            <option *ngFor="let item of ingredients" [value]="item.id">{{ item.description }}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>Amount</label>
          <input type="text" class="form-control" mask="0*.00" maxlength="100" required />
        </div>
        <div class="col-md-3">
          <label>Type</label>
          <select class="form-control" required>
            <option value="">Amount type</option>
            <option *ngFor="let item of amountTypes" [value]="item.id">{{ item.description }}</option>
          </select>
        </div>
        <div class="col-md-2">
          <div *ngIf="ingredientsAdded.length > 1" class="col-md-2 align-text-bottom">
            <button class="btn btn-danger" (click)="removeIngredient(i)">remove</button>
          </div>
        </div>
        <div *ngIf="isLast" class="col-md-2 align-text-bottom">
            <button class="btn btn-primary" (click)="addIngredient()">Add more</button>
          </div>
      </div>
    </div>
    <div class="col-md-8 mb-3">
      <label>Steps</label>
      <textarea class="form-control" maxlength="100" [(ngModel)]="model.steps" name="steps" required>
        </textarea>
    </div>
  </div>
  <div class="form-actions col-md-8 mb-3 center">
    <button type="button" class="btn btn-primary mr-2" (click)="save()">
      Save
    </button>
    <button type="button" class="btn btn-default mr-2" (click)="back()">
      Cancel
    </button>
  </div>
</form>
<button type="button" class="btn btn-default mr-2" (click)="msg('alo')">
    Cancel
  </button>